<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css' rel='stylesheet'>
    <style>
    .read {color: grey;}
    </style>
    <title>Front Page</title>
</head>

<body>
    <div id='container'></div>

    <script id='frontpage' type='text/template'>
        <div class='container'>
            <button type='button' class='btn btn-info' id='previous'>Previous</button>
            <button type='button' class='btn btn-info pull-right' id='next'>Next</button>

            <div class='row'>
                {{#item_at_index(sources, current_source)}}
                    {{>source}}
                {{/source}}
            </div>
        </div>
    </script>

    <script id='source', type='text/template'>
        <div class='col-xs-12 col-md-6'>
            <h3>{{name}}</h3>

            {{#feeds:index}}
                <button class='btn btn-{{button_class(index, current_feed)}}' on-click='update_feed'>{{name}}</button>
            {{/feeds}}

            {{#item_at_index(feeds, current_feed)}}
                {{>feed}}
            {{/feed}}
        </div>
    </script>

    <script id='feed' type='text/template'>
        <div class='feed'>
            {{#stories:index}}
                <div class='story'>
                    {{>story}}
                    <br/>
                </div>
            {{/story}}
        </div>
    </script>

    <script id='story' type='text/template'>
        <div class='row'>
            <div class='col-xs-1'>
                {{index+1}}.
            </div>
            {{#if image}}
            <div class='col-xs-{{cols_in_image}}' style='padding: 0 !important; margin: 0 !important;'>
                <a href={{image.src}} on-click='open_image'>
                    <img src={{image.src}} alt='' style='max-width: 100%; height: auto;'>
                </a>
            </div>
            {{/if}}
            <div class='col-xs-{{cols_in_title(image)}}'>
                <div class='title'>
                    <a href={{title.href}} class={{class}} on-click='mark_read'>{{title.text}}</a>
                </div>
                {{#if description}}
                    {{description}}
                {{/if}}
                <div>
                    <small>
                        <span class='{{class}} points'>{{format(points, 'points')}}</span>
                    </small>
                    <small>
                        <span class='comments'>
                            <a href={{comments.href}} class={{class}} on-click='mark_read'>{{format(comments.text, 'comments')}}</a>
                        </span>
                    </small>
                </div>
            </div>
        </div>
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js'
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js'></script>
    <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
    <script src='js/app/index.js'></script>
</body>
</html>
